
#app { width: 448px; height: 988px; }
#app.sphereless { height: 692px; }

#map_light {
  width: 221px;
  height: 221px;
  margin-left: 2px;
  background-image: url(../images/overlay/map_lw.png);
  background-size: 99% 100%;
  background-repeat: no-repeat;
}

#map_dark {
  width: 221px;
  height: 221px;
  background-image: url(../images/overlay/map_dw.png);
  background-size: 99% 100%;
  background-position: right;
  background-repeat: no-repeat;
}

#caption {
    bottom: 2px;
}

#autotrackingstatus {
  bottom: 2px;
  right: 3px;
}

.location {
  width: 12px !important;
  height: 12px !important;
  margin-left: -6px;
  margin-top: -6px;
}

.entrance {
  width: 9px;
  height: 9px;
  margin-left: -7px;
  margin-top: -7px;
}

#map .boss {
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;
  z-index: 2;
}

#bossMapAgahnim { background-color: transparent; }
.castle {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  position: absolute;
  background-size: 100% 100%;
}

.dungeon {
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  position: absolute;
  background-size: 100% 100%;
}

#bossMap0, #dungeon0 { left: 92.00%; top: 38.8%; }
#bossMap1, #dungeon1 { left: 7.60%;  top: 78.4%; }
#bossMap2, #dungeon2 { left: 62.00%; top: 7.2%; }
#bossMap3, #dungeon3 { left: 92.80%; top: 40.0%; }
#bossMap4, #dungeon4 { left: 47.00%; top: 91.0%; }
#bossMap5, #dungeon5 { left: 8.00%; top: 7.2%; }
#bossMap6, #dungeon6 { left: 12.80%; top: 47.9%; }
#bossMap7, #dungeon7 { left: 79.60%; top: 85.8%; }
#bossMap8, #dungeon8 { left: 11.60%; top: 82.9%; }
#bossMap9, #dungeon9 { left: 92.80%; top: 7.2%; }
#bossMap10, #dungeon10 { left: 58.00%; top: 7.2%; }
#bossMapAgahnim, #castle { left: 50.00%; top: 52.6%; }
#locationMap0 { left: 44.80%; top: 93.4%; z-index: 2; } /* Sunken Treasure */
#locationMap1 { left: 54.80%; top: 67.9%; z-index: 2; } /* Link's House */
#locationMap2 { left: 10.00%;  top: 46.8%; z-index: 2; } /* Bottle Vendor */
#locationMap3 { left: 32.00%; top: 69.5%; z-index: 2; } /* Stumpy */
#locationMap4 { left: 30.40%; top: 52.2%; z-index: 2; } /* Purple Chest */ 
#locationMap5 { left: 70.40%; top: 70.3%; z-index: 2; } /* Hobo */
#locationMap6 { left: 42.00%; top: 3.0%; z-index: 2; } /* Ether Tablet */
#locationMap7 { left: 22.00%; top: 92.2%; z-index: 2; } /* Bombos Tablet */
#locationMap8 { left: 92.00%; top: 17.2%; z-index: 2; } /* Catfish */
#locationMap9 { left: 96.00%; top: 12.1%; z-index: 2; } /* King Zora */
#locationMap10 { left: 43.60%; top: 22.4%; z-index: 2; } /* Old Man */
#locationMap11 { left: 12.40%;  top: 8.6%; z-index: 2; } /* Mushroom Spot */
#locationMap12 { left: 50.80%; top: 8.5%; z-index: 2; } /* Spectacle Rock */
#locationMap13 { left: 81.60%; top: 3.0%; z-index: 2; } /* Floating Island */
#locationMap14 { left: 3.60%;  top: 69.8%; z-index: 2; } /* Race Game */
#locationMap15 { left: 3.00%;  top: 91.0%; z-index: 2; } /* Desert Ledge */
#locationMap16 { left: 73.00%; top: 83.9%; z-index: 2; } /* Lake Hylia Island */
#locationMap17 { left: 34.20%; top: 15.2%; z-index: 2; } /* Bumper Cave */
#locationMap18 { left: 58.00%; top: 43.5%; z-index: 2; } /* Pyramid */
#locationMap19 { left: 5.80%; top: 69.2%; z-index: 2; } /* Dig Game */
#locationMap20 { left: 95.40%; top: 17.3%; z-index: 2; } /* Zora Ledge */
#locationMap21 { left: 28.80%; top: 66.2%; z-index: 2; } /* Flute Spot */
#locationMap22 { left: 5.00%;  top: 3.2%; z-index: 2; } /* Pedestal */
#locationMap23 { left: 14.40%; top: 15%; z-index: 2;} /* Lost Woods Hideout Tree */
#locationMap24 { left: 83.00%; top: 6.8%; z-index: 2;} /* Death Mountain Bonk Rocks */
#locationMap25 { left: 31.00%; top: 14.5%; z-index: 2;} /* Mountain Entry Pull Tree */
#locationMap26 { left: 35.40%; top: 23%; z-index: 2;} /* Mountain Entry Southeast Tree */
#locationMap27 { left: 3.20%; top: 30%; z-index: 2;} /* Lost Woods Pass West Tree */
#locationMap28 { left: 9.80%; top: 31%; z-index: 2;} /* Kakariko Portal Tree */
#locationMap29 { left: 16.40%; top: 31.7%; z-index: 2;} /* Fortune Bonk Rocks */
#locationMap30 { left: 34.00%; top: 29.1%; z-index: 2;} /* Kakariko Pond Tree */
#locationMap31 { left: 41.20%; top: 31.2%; z-index: 2;} /* Bonk Rocks Tree */
#locationMap32 { left: 48.20%; top: 30.2%; z-index: 2;} /* Sanctuary Tree */
#locationMap33 { left: 64.80%; top: 35.5%; z-index: 2;} /* River Bend West Tree */
#locationMap34 { left: 73.80%; top: 31.4%; z-index: 2;} /* River Bend East Tree */
#locationMap35 { left: 8.80%; top: 41.7%; z-index: 2;} /* Blinds Hideout Tree */
#locationMap36 { left: 22.00%; top: 57.7%; z-index: 2;} /* Kakariko Welcome Tree */
#locationMap37 { left: 28.20%; top: 47.2%; z-index: 2;} /* Forgotten Forest Southwest Tree */
#locationMap38 { left: 31.00%; top: 44.7%; z-index: 2;} /* Forgotten Forest Central Tree */
#locationMap39 { left: 45.60%; top: 46%; z-index: 2;} /* Hyrule Castle Tree */
#locationMap40 { left: 67.00%; top: 40.5%; z-index: 2;} /* Wooden Bridge Tree */
#locationMap41 { left: 89.00%; top: 59.5%; z-index: 2;} /* Eastern Palace Tree */
#locationMap42 { left: 30.20%; top: 72.4%; z-index: 2;} /* Flute Boy South Tree */
#locationMap43 { left: 34.80%; top: 70.6%; z-index: 2;} /* Flute Boy East Tree */
#locationMap44 { left: 46.00%; top: 68.3%; z-index: 2;} /* Central Bonk Rocks Tree */
#locationMap45 { left: 79.40%; top: 67.4%; z-index: 2;} /* Tree Line Tree 2 */
#locationMap46 { left: 83.80%; top: 68.4%; z-index: 2;} /* Tree Line Tree 4 */
#locationMap47 { left: 35.40%; top: 83.2%; z-index: 2;} /* Flute Boy Approach South Tree */
#locationMap48 { left: 36.00%; top: 78.7%; z-index: 2;} /* Flute Boy Approach North Tree */
#locationMap49 { left: 28.00%; top: 9%; z-index: 2;} /* Dark Lumberjack Tree */
#locationMap50 { left: 16.40%; top: 31.8%; z-index: 2;} /* Dark Fortune Bonk Rocks (2) */
#locationMap51 { left: 50.80%; top: 30%; z-index: 2;} /* Dark Graveyard West Bonk Rocks */
#locationMap52 { left: 55.80%; top: 32%; z-index: 2;} /* Dark Graveyard North Bonk Rocks */
#locationMap53 { left: 61.00%; top: 30%; z-index: 2;} /* Dark Graveyard Tomb Bonk Rocks */
#locationMap54 { left: 67.00%; top: 35.7%; z-index: 2;} /* Qirn Jump West Tree */
#locationMap55 { left: 73.20%; top: 31.8%; z-index: 2;} /* Qirn Jump East Tree */
#locationMap56 { left: 77.80%; top: 30.9%; z-index: 2;} /* Dark Witch Tree */
#locationMap57 { left: 47.00%; top: 54.5%; z-index: 2;} /* Pyramid Area */
#locationMap58 { left: 95.00%; top: 56.5%; z-index: 2;} /* Palace of Darkness Area */
#locationMap59 { left: 79.40%; top: 68.1%; z-index: 2;} /* Dark Tree Line Tree 2 */
#locationMap60 { left: 81.80%; top: 68.7%; z-index: 2;} /* Dark Tree Line Tree 3 */
#locationMap61 { left: 84.20%; top: 69.3%; z-index: 2;} /* Dark Tree Line Tree 4 */
#locationMap62 { left: 55.80%; top: 83.5%; z-index: 2;} /* Hype Cave Area */

#connectorStop { cursor: pointer; position: absolute; top: 89.6%; left: 81.6%; z-index: 2; width: 37.5px; }
#connectorStop img { width: 100%; }
#hideConnectorLines { cursor: pointer; position: absolute; top: 89.6%; left: 1.2%; z-index: 2; width: 37.5px; }
#hideConnectorLinesImg { width: 100%; }
#entranceSummary { cursor: pointer; position: absolute; top: 89.6%; left: 81.6%; z-index: 2; width: 37.5px; }
#entranceSummary img { width: 100%; }
#summaryModal { width: 442px; left: 0; }
#summaryModalMain { width: 400px; height: 600px; left: 24px; top: 35px; }

#entranceModalLightWorld { width: 372px; float: left; }
#entranceModalGeneral { width: 372px; float: left; }
#entranceModalDarkWorld { width: 372px; float: left; }

#entranceMap0 { left: 56.00%; top: 72%; z-index: 2; }
#entranceMap1 { left: 49.00%; top: 67%; z-index: 2; }
#entranceMap2 { left: 48.00%; top: 96%; z-index: 2; }
#entranceMap3 { left: 28.00%; top: 84%; z-index: 2; }
#entranceMap4 { left: 81.40%; top: 35%; z-index: 2; }
#entranceMap5 { left: 91.40%; top: 17%; z-index: 2; }
#entranceMap6 { left: 62.00%; top: 80%; z-index: 2; }
#entranceMap7 { left: 51.40%; top: 46%; z-index: 2; }
#entranceMap8 { left: 46.40%; top: 41%; z-index: 2; }
#entranceMap9 { left: 56.40%; top: 41%; z-index: 2; }
#entranceMap10 { left: 51.40%; top: 42%; z-index: 2; }
#entranceMap11 { left: 56.40%; top: 45%; z-index: 2; }
#entranceMap12 { left: 61.00%; top: 42.5%; z-index: 2; }
#entranceMap13 { left: 47.40%; top: 28.5%; z-index: 2; }
#entranceMap14 { left: 40.00%; top: 30%; z-index: 2; }
#entranceMap15 { left: 53.40%; top: 30%; z-index: 2; }
#entranceMap16 { left: 58.60%; top: 28.4%; z-index: 2; }
#entranceMap17 { left: 62.00%; top: 30%; z-index: 2; }
#entranceMap18 { left: 68.00%; top: 29%; z-index: 2; }
#entranceMap19 { left: 66.00%; top: 32%; z-index: 2; }
#entranceMap20 { left: 20.20%; top: 4%; z-index: 2; }
#entranceMap21 { left: 20.60%; top: 13.2%; z-index: 2; }
#entranceMap22 { left: 20.00%; top: 16.8%; z-index: 2; }
#entranceMap23 { left: 35.60%; top: 7.6%; z-index: 2; }
#entranceMap24 { left: 34.00%; top: 4.5%; z-index: 2; }
#entranceMap25 { left: 31.40%; top: 9%; z-index: 2; }
#entranceMap26 { left: 36.00%; top: 19.7%; z-index: 2; }
#entranceMap27 { left: 20.60%; top: 33%; z-index: 2; }
#entranceMap28 { left: 4.00%; top: 43%; z-index: 2; }
#entranceMap29 { left: 7.60%; top: 44%; z-index: 2; }
#entranceMap30 { left: 12.80%; top: 43%; z-index: 2; }
#entranceMap31 { left: 16.40%; top: 43%; z-index: 2; }
#entranceMap32 { left: 20.00%; top: 43%; z-index: 2; }
#entranceMap33 { left: 6.60%; top: 48%; z-index: 2; }
#entranceMap34 { left: 22.00%; top: 49%; z-index: 2; }
#entranceMap35 { left: 11.20%; top: 55%; z-index: 2; }
#entranceMap36 { left: 16.80%; top: 54.5%; z-index: 2; }
#entranceMap37 { left: 21.80%; top: 55%; z-index: 2; }
#entranceMap38 { left: 4.60%; top: 61%; z-index: 2; }
#entranceMap39 { left: 12.60%; top: 59%; z-index: 2; }
#entranceMap40 { left: 17.40%; top: 58%; z-index: 2; }
#entranceMap41 { left: 17.40%; top: 61.5%; z-index: 2; }
#entranceMap42 { left: 31.20%; top: 54%; z-index: 2; }
#entranceMap43 { left: 33.20%; top: 57%; z-index: 2; }
#entranceMap44 { left: 36.00%; top: 55%; z-index: 2; }
#entranceMap45 { left: 16.80%; top: 67%; z-index: 2; }
#entranceMap46 { left: 12.00%; top: 72%; z-index: 2; }
#entranceMap47 { left: 16.00%; top: 72%; z-index: 2; }
#entranceMap48 { left: 22.80%; top: 70.3%; z-index: 2; }
#entranceMap49 { left: 96.60%; top: 40%; z-index: 2; }
#entranceMap50 { left: 82.80%; top: 46%; z-index: 2; }
#entranceMap51 { left: 84.00%; top: 65.4%; z-index: 2; }
#entranceMap52 { left: 96.60%; top: 71%; z-index: 2; }
#entranceMap53 { left: 8.80%; top: 82%; z-index: 2; }
#entranceMap54 { left: 5.00%; top: 81%; z-index: 2; }
#entranceMap55 { left: 12.60%; top: 81%; z-index: 2; }
#entranceMap56 { left: 8.80%; top: 78%; z-index: 2; }
#entranceMap57 { left: 19.00%; top: 79%; z-index: 2; }
#entranceMap58 { left: 21.60%; top: 83%; z-index: 2; }
#entranceMap59 { left: 29.40%; top: 90%; z-index: 2; }
#entranceMap60 { left: 32.60%; top: 96%; z-index: 2; }
#entranceMap61 { left: 74.40%; top: 78%; z-index: 2; }
#entranceMap62 { left: 66.40%; top: 81%; z-index: 2; }
#entranceMap63 { left: 66.80%; top: 95%; z-index: 2; }
#entranceMap64 { left: 80.80%; top: 86%; z-index: 2; }
#entranceMap65 { left: 90.00%; top: 78%; z-index: 2; }
#entranceMap66 { left: 94.00%; top: 78%; z-index: 2; }
#entranceMap67 { left: 92.00%; top: 81%; z-index: 2; }
#entranceMap68 { left: 57.40%; top: 5%; z-index: 2; }
#entranceMap69 { left: 49.20%; top: 11.5%; z-index: 2; }
#entranceMap70 { left: 47.00%; top: 15%; z-index: 2; }
#entranceMap71 { left: 50.60%; top: 16%; z-index: 2; }
#entranceMap72 { left: 41.60%; top: 20%; z-index: 2; }
#entranceMap73 { left: 40.80%; top: 14%; z-index: 2; }
#entranceMap74 { left: 37.40%; top: 16%; z-index: 2; }
#entranceMap75 { left: 46.60%; top: 25%; z-index: 2; }
#entranceMap76 { left: 55.00%; top: 17.4%; z-index: 2; }
#entranceMap77 { left: 86.60%; top: 6.4%; z-index: 2; }
#entranceMap78 { left: 87.60%; top: 23%; z-index: 2; }
#entranceMap79 { left: 87.60%; top: 16%; z-index: 2; }
#entranceMap80 { left: 81.00%; top: 10%; z-index: 2; }
#entranceMap81 { left: 78.00%; top: 14%; z-index: 2; }
#entranceMap82 { left: 84.00%; top: 16%; z-index: 2; }
#entranceMap83 { left: 83.20%; top: 12.4%; z-index: 2; }
#entranceMap84 { left: 81.20%; top: 14.9%; z-index: 2; }
#entranceMap85 { left: 85.80%; top: 10%; z-index: 2; }
#entranceMap86 { left: 56.00%; top: 72%; z-index: 2; }
#entranceMap87 { left: 49.00%; top: 67%; z-index: 2; }
#entranceMap88 { left: 62.00%; top: 80%; z-index: 2; }
#entranceMap89 { left: 48.40%; top: 96%; z-index: 2; }
#entranceMap90 { left: 47.40%; top: 28%; z-index: 2; }
#entranceMap91 { left: 34.80%; top: 46.6%; z-index: 2; }
#entranceMap92 { left: 81.40%; top: 35%; z-index: 2; }
#entranceMap93 { left: 51.40%; top: 42%; z-index: 2; }
#entranceMap94 { left: 48.00%; top: 50%; z-index: 2; }
#entranceMap95 { left: 44.00%; top: 50%; z-index: 2; }
#entranceMap96 { left: 5.40%; top: 6.5%; z-index: 2; }
#entranceMap97 { left: 7.40%; top: 14%; z-index: 2; }
#entranceMap98 { left: 13.40%; top: 10%; z-index: 2; }
#entranceMap99 { left: 15.60%; top: 16%; z-index: 2; }
#entranceMap100 { left: 17.00%; top: 19%; z-index: 2; }
#entranceMap101 { left: 21.40%; top: 13%; z-index: 2; }
#entranceMap102 { left: 19.40%; top: 16%; z-index: 2; }
#entranceMap103 { left: 21.60%; top: 18%; z-index: 2; }
#entranceMap104 { left: 35.00%; top: 6.7%; z-index: 2; }
#entranceMap105 { left: 37.00%; top: 19%; z-index: 2; }
#entranceMap106 { left: 20.20%; top: 33%; z-index: 2; }
#entranceMap107 { left: 6.00%; top: 47%; z-index: 2; }
#entranceMap108 { left: 14.00%; top: 49%; z-index: 2; }
#entranceMap109 { left: 22.00%; top: 49%; z-index: 2; }
#entranceMap110 { left: 22.00%; top: 54%; z-index: 2; }
#entranceMap111 { left: 12.60%; top: 59%; z-index: 2; }
#entranceMap112 { left: 33.00%; top: 62%; z-index: 2; }
#entranceMap113 { left: 23.00%; top: 71%; z-index: 2; }
#entranceMap114 { left: 97.20%; top: 41%; z-index: 2; }
#entranceMap115 { left: 86.60%; top: 52%; z-index: 2; }
#entranceMap116 { left: 84.00%; top: 65.7%; z-index: 2; }
#entranceMap117 { left: 97.60%; top: 71%; z-index: 2; }
#entranceMap118 { left: 81.00%; top: 87%; z-index: 2; }
#entranceMap119 { left: 66.60%; top: 81%; z-index: 2; }
#entranceMap120 { left: 90.00%; top: 78%; z-index: 2; }
#entranceMap121 { left: 94.00%; top: 78%; z-index: 2; }
#entranceMap122 { left: 92.00%; top: 81%; z-index: 2; }
#entranceMap123 { left: 8.80%; top: 84%; z-index: 2; }
#entranceMap124 { left: 5.40%; top: 81%; z-index: 2; }
#entranceMap125 { left: 12.60%; top: 81%; z-index: 2; }
#entranceMap126 { left: 21.20%; top: 83%; z-index: 2; }
#entranceMap127 { left: 57.60%; top: 5%; z-index: 2; }
#entranceMap128 { left: 58.80%; top: 16%; z-index: 2; }
#entranceMap129 { left: 39.00%; top: 16%; z-index: 2; }
#entranceMap130 { left: 41.60%; top: 20%; z-index: 2; }
#entranceMap131 { left: 81.60%; top: 4%; z-index: 2; }
#entranceMap132 { left: 84.00%; top: 7.3%; z-index: 2; }
#entranceMap133 { left: 87.60%; top: 7.2%; z-index: 2; }
#entranceMap134 { left: 85.00%; top: 16%; z-index: 2; }
#entranceMap135 { left: 89.00%; top: 16%; z-index: 2; }
#entranceMap136 { left: 95.40%; top: 9%; z-index: 2; }
#entranceMap137 { left: 83.40%; top: 13%; z-index: 2; }
#entranceMap138 { left: 81.20%; top: 10%; z-index: 2; }
#entranceMap139 { left: 85.80%; top: 10%; z-index: 2; }

.grabbagtr {
    border: 1px solid black;
    cursor: pointer;
    width: 140px;
    height: 24px;
    padding: 5px;
}

.entrancelocationdiv {
	width: 50px;
    height: 30px;
  border: 2px solid white;
	cursor: pointer;
}

.entranceModalGeneralInner { 
	height: 84px; 
}

.entranceModalGeneralInnerSmall { 
	height: 54px; 
}

.entranceModalGeneralInnerLarge { 
	height: 84px; 
}
