
#app { width: 448px; height: 988px; }
#app.sphereless { height: 692px; }

#map_light {
  width: 221px;
  height: 221px;
  margin-left: 2px;
  background-image: url(../images/overlay/map_lw.png);
  background-size: 99% 100%;
  background-repeat: no-repeat;
}

#map_dark {
  width: 221px;
  height: 221px;
  background-image: url(../images/overlay/map_dw.png);
  background-size: 99% 100%;
  background-position: right;
  background-repeat: no-repeat;
}

#caption {
  bottom: -20px;
}

#autotrackingstatus {
  bottom: -20px;
}

.location {
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-top: -6px;
}

#map .boss {
  border-width: 0px;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;
  z-index: 2;
}

#bossMapAgahnim { background-color: transparent; }
.castle {
  border-width: 1.5px;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  background-size: 100% 100%;
}


.dungeon {
  border-width: 1.25px;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  position: absolute;
  background-size: 100% 100%;
}

.bonkable { background-color: rgb(0, 255, 0); width: 9; height: 9;}
.unbonkable { background-color: rgba(255, 0, 0); width: 9; height: 9;}
.bonked { background-color: rgba(128, 128, 128); width: 9; height: 9; border-width: 0px;}
.darkbonkable { background-color: rgb(35, 69, 224); width: 9; height: 9;}

#bossMap0, #dungeon0 { left: 92.00%; top: 38.8%; }
#bossMap1, #dungeon1 { left: 7.60%;  top: 78.4%; }
#bossMap2, #dungeon2 { left: 62.00%; top: 7.2%; }
#bossMap3, #dungeon3 { left: 92.80%; top: 40.0%; }
#bossMap4, #dungeon4 { left: 47.00%; top: 91.0%; }
#bossMap5, #dungeon5 { left: 8.00%; top: 7.2%; }
#bossMap6, #dungeon6 { left: 12.80%; top: 47.9%; }
#bossMap7, #dungeon7 { left: 79.60%; top: 85.8%; }
#bossMap8, #dungeon8 { left: 13.60%; top: 82.9%; }
#bossMap9, #dungeon9 { left: 92.80%; top: 7.2%; }
#bossMap10, #dungeon10 { left: 58.00%; top: 7.2%; }
#bossMap11, #dungeon11 { left: 50.00%; top: 37.5%; }
#bossMapAgahnim, #castle, #bossMap12, #dungeon12 { left: 50.00%; top: 52.6%; }

#locationMap0 { left: 61.60%; top: 29.6%; } /* King's Tomb */
#locationMap1 { left: 46.80%; top: 93.4%; } /* Dam (2) */
#locationMap2 { left: 54.80%; top: 67.9%; } /* Link's House */
#locationMap3 { left: 76.80%; top: 9.3%; } /* Spiral Cave */
#locationMap4 { left: 85.20%; top: 9.3%; } /* Mimic Cave */
#locationMap5 { left: 16.20%;  top: 57.8%; } /* Tavern */
#locationMap6 { left: 8.80%;  top: 54.2%; } /* Chicken House */
#locationMap7 { left: 10.80%; top: 57.8%; } /* Bombable Hut */
#locationMap8 { left: 23.00%; top: 47.9%; } /* C-House */
#locationMap9 { left: 20.00%; top: 83.6%; } /* Aginah's Cave */
#locationMap10 { left: 3.40%; top: 79.5%; } /* Mire Shed (2) */
#locationMap11 { left: 83.60%; top: 15.7%; } /* Super Bunny Cave */
#locationMap12 { left: 81.40%; top: 41.4%; } /* Sahasrahla's Hut */
#locationMap13 { left: 57.20%; top: 17.2%; } /* Spike Cave */
#locationMap14 { left: 3.40%;  top: 41.0%; } /* Kakariko Well */
#locationMap15 { left: 13.40%;  top: 41.0%; } /* Thieves' Hut */
#locationMap16 { left: 60.00%; top: 77.1%; } /* Hype Cave */
#locationMap17 { left: 82.80%; top: 17.1%; } /* Paradox Cave */
#locationMap18 { left: 39.00%; top: 29.3%; } /* Bonk Rocks */
#locationMap19 { left: 65.20%; top: 93.4%; } /* Mini Moldorm Cave */
#locationMap20 { left: 88.40%; top: 76.9%; } /* Ice Rod Cave */
#locationMap21 { left: 83.20%; top: 9.6%; } /* Hookshot Cave (1) */
#locationMap22 { left: 83.20%; top: 3.4%; } /* Hookshot Cave (3) */
#locationMap23 { left: 14.80%; top: 15%; } /* Lost Woods Hideout Tree */
#locationMap24 { left: 81.40%; top: 9.2%; } /* Death Mountain Bonk Rocks */
#locationMap25 { left: 31.00%; top: 14.5%; } /* Mountain Entry Pull Tree */
#locationMap26 { left: 35.40%; top: 23%; } /* Mountain Entry Southeast Tree */
#locationMap27 { left: 3.20%; top: 30%; } /* Lost Woods Pass West Tree */
#locationMap28 { left: 9.80%; top: 31%; } /* Kakariko Portal Tree */
#locationMap29 { left: 16.40%; top: 31.7%; } /* Fortune Bonk Rocks */
#locationMap30 { left: 34.00%; top: 29.1%; } /* Kakariko Pond Tree */
#locationMap31 { left: 41.20%; top: 31.2%; } /* Bonk Rocks Tree */
#locationMap32 { left: 48.20%; top: 30.2%; } /* Sanctuary Tree */
#locationMap33 { left: 64.80%; top: 35.5%; } /* River Bend West Tree */
#locationMap34 { left: 73.80%; top: 31.4%; } /* River Bend East Tree */
#locationMap35 { left: 9.20%; top: 41.9%; } /* Blinds Hideout Tree */
#locationMap36 { left: 22.00%; top: 58.2%; } /* Kakariko Welcome Tree */
#locationMap37 { left: 28.80%; top: 47.4%; } /* Forgotten Forest Southwest Tree */
#locationMap38 { left: 31.40%; top: 44.6%; } /* Forgotten Forest Central Tree */
#locationMap39 { left: 46.00%; top: 46%; } /* Hyrule Castle Tree */
#locationMap40 { left: 67.00%; top: 40.5%; } /* Wooden Bridge Tree */
#locationMap41 { left: 89.20%; top: 59.5%; } /* Eastern Palace Tree */
#locationMap42 { left: 30.60%; top: 72.4%; } /* Flute Boy South Tree */
#locationMap43 { left: 35.00%; top: 70.6%; } /* Flute Boy East Tree */
#locationMap44 { left: 47.00%; top: 68.1%; } /* Central Bonk Rocks Tree */
#locationMap45 { left: 79.40%; top: 66.4%; } /* Tree Line Tree 2 */
#locationMap46 { left: 83.80%; top: 67.4%; } /* Tree Line Tree 4 */
#locationMap47 { left: 35.40%; top: 83.2%; } /* Flute Boy Approach South Tree */
#locationMap48 { left: 36.00%; top: 78.7%; } /* Flute Boy Approach North Tree */
#locationMap49 { left: 28.40%; top: 9%; } /* Dark Lumberjack Tree */
#locationMap50 { left: 16.40%; top: 31.8%; } /* Dark Fortune Bonk Rocks (2) */
#locationMap51 { left: 50.80%; top: 30%; } /* Dark Graveyard West Bonk Rocks */
#locationMap52 { left: 55.80%; top: 32%; } /* Dark Graveyard North Bonk Rocks */
#locationMap53 { left: 61.00%; top: 30%; } /* Dark Graveyard Tomb Bonk Rocks */
#locationMap54 { left: 67.00%; top: 35.7%; } /* Qirn Jump West Tree */
#locationMap55 { left: 73.20%; top: 31.8%; } /* Qirn Jump East Tree */
#locationMap56 { left: 77.80%; top: 30.9%; } /* Dark Witch Tree */
#locationMap57 { left: 47.40%; top: 54.5%; } /* Pyramid Area */
#locationMap58 { left: 95.00%; top: 56.5%; } /* Palace of Darkness Area */
#locationMap59 { left: 79.40%; top: 66.1%; } /* Dark Tree Line Tree 2 */
#locationMap60 { left: 81.80%; top: 66.7%; } /* Dark Tree Line Tree 3 */
#locationMap61 { left: 84.20%; top: 67.3%; } /* Dark Tree Line Tree 4 */
#locationMap62 { left: 55.80%; top: 83.5%; } /* Hype Cave Area */
#locationMap63 { left: 94.00%; top: 77.5%; } /* Cold Fairy Statue */
#locationMap64 { left: 4.20%; top: 46.4%; } /* Chest Game */
#locationMap65 { left: 9.00%;  top: 47.3%; } /* Bottle Vendor */
#locationMap66 { left: 81.40%; top: 48.0%; } /* Sahasrahla */
#locationMap67 { left: 31.00%; top: 68.6%; } /* Stumpy */
#locationMap68 { left: 16.20%;  top: 51.1%; } /* Lazy Kid */
#locationMap69 { left: 30.40%; top: 52.2%; } /* Purple Chest */
#locationMap70 { left: 70.80%; top: 69.7%; } /* Hobo */
#locationMap71 { left: 42.00%; top: 3.4%; } /* Ether Tablet */
#locationMap72 { left: 22.00%; top: 92.2%; } /* Bombos Tablet */
#locationMap73 { left: 92.00%; top: 17.2%; } /* Catfish */
#locationMap74 { left: 96.00%; top: 10.6%; } /* King Zora */
#locationMap75 { left: 41.60%; top: 20.4%; } /* Lost Old Man */
#locationMap76 { left: 81.60%; top: 32.5%; } /* Potion Shop */
#locationMap77 { left: 18.80%;  top: 13.0%; } /* Lost Woods Hideout */
#locationMap78 { left: 30.20%; top: 7.6%; } /* Lumberjack Tree */
#locationMap79 { left: 48.60%; top: 14.8%; } /* Spectacle Rock Cave */
#locationMap80 { left: 28.20%; top: 84.1%; } /* Cave 45 */
#locationMap81 { left: 56.20%; top: 27.0%; } /* Graveyard Ledge */
#locationMap82 { left: 18.60%;  top: 77.3%; } /* Checkerboard Cave */
#locationMap83 { left: 31.60%; top: 59.1%; } /* Hammerpegs */
#locationMap84 { left: 15.40%;  top: 65.9%; } /* Library */
#locationMap85 { left: 12.40%;  top: 8.6%; } /* Mushroom */
#locationMap86 { left: 50.80%; top: 8.5%; } /* Spectacle Rock */
#locationMap87 { left: 80.40%; top: 3.4%; } /* Floating Island */
#locationMap88 { left: 3.60%;  top: 67.0%; } /* Race Minigame */
#locationMap89 { left: 3.60%;  top: 91.0%; } /* Desert Ledge */
#locationMap90 { left: 72.20%; top: 82.9%; } /* Lake Hylia Island */
#locationMap91 { left: 34.20%; top: 15.2%; } /* Bumper Cave */
#locationMap92 { left: 58.00%; top: 43.5%; } /* Pyramid */
#locationMap93 { left: 5.80%; top: 69.2%; } /* Dig Game */
#locationMap94 { left: 95.40%; top: 17.3%; } /* Zora's Ledge */
#locationMap95 { left: 28.80%; top: 66.2%; } /* Flute Spot */
#locationMap96 { left: 53.60%; top: 32.4%; } /* Sewers */
#locationMap97 { left: 59.60%; top: 41.8%; } /* Uncle & Secret Passage */
#locationMap98 { left: 50.00%; top: 44.1%; } /* Hyrule Castle */
#locationMap99 { left: 45.40%; top: 27%; } /* Sanctuary */
#locationMap100 { left: 32.00%; top: 58.0%; } /* Magic Bat */
#locationMap101 { left: 30.40%; top: 51.8%; } /* Blacksmith */
#locationMap102 { left: 47.00%; top: 48.5%; } /* Pyramid Fairy */
#locationMap103 { left: 5.00%;  top: 3.4%; } /* Pedestal */
#locationMap104 { left: 51.20%; top: 38.2%; } /* Dark Cross */
#locationMap105 { left: 89.80%; top: 15.2%; } /* Waterfall Fairy */
#locationMap106 { left: 42.00%; top: 52.6%; } /* Castle Tower - Room 03 */
#locationMap107 { left: 58.00%; top: 52.6%; } /* Castle Tower - Room Dark Maze */
#locationMap108 { left: 74.00%; top: 76.0%; } /* Lake Hylia Shop (3) */
#locationMap109 { left: 10.00%; top: 60.0%; } /* Kakariko Shop (3) */
#locationMap110 { left: 77.00%; top: 17.1%; } /* PAradox Shop (3) */
#locationMap111 { left: 67.00%; top: 78.5%; } /* Dark Lake Hylia Shop (3) */
#locationMap112 { left: 23.00%; top: 53.4%; } /* Village of Outcasts Shop (3) */
#locationMap113 { left: 86.60%; top: 21.2%; } /* Dark Death Mountain Shop (3) */
#locationMap114 { left: 81.60%; top: 32.5%; } /* Dark Potion Shop (3) */
#locationMap115 { left: 33.20%; top: 6.3%; } /* Dark Lumoerjack Shop (3) */
#locationMap116 { left: 33.00%; top: 44.2%; } /* Curiosity Shop (3) */
#locationMap117 { left: 80.00%; top: 27.0%; } /* Potion Shop (3) */
#locationMap118 { left: 79.60%; top: 84.5%; } /* Pond of Happiness Shop (3) */
#locationMap119 { left: 54.80%; top: 67.9%; } /* Bomb Shop (2) */