
body {
  margin: 0px;
  background-color: black;
  font-family: roboto_condensedregular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow: hidden;
}

* { box-sizing: border-box; }

.row:before,
.row:after { content: " "; display: table; }
.row:after { clear: both; }
.cell { position: relative; float: left; }
.cell.split { height: 64px; width: 64px; position: relative; float: left; background-image: url(../images/items/splitbackground.png); }

#app { width: 1340px; height: 744px; overflow: hidden; display: block!important; }
#app.mapless { width: 448px; }
#app.sphereless { height: 448px; }

#tracker .item,
#tracker .boss,
#tracker [id^="item"] { width: 64px; height: 64px; }
#tracker [id^="chest"] { width: 32px; height: 32px; font-size: 15px; text-align: center; font-family: roboto_condensedregular, "Arial Black", Gadget, sans-serif; font-weight: bold; padding-top: 6px; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none; }
#tracker [id^="bigkey"] { width: 32px; height: 32px; }
#tracker [id^="smallkey"] { width: 64px; height: 32px; color: #FFF; font-size: 20px; text-align: center; font-family: "Arial Black", Gadget, sans-serif; padding-top: 0px; padding-left: 32px; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none;  }
#tracker [id^="smallkeyhalf"] { width: 32px; height: 32px; color: #FFF; font-size: 20px; text-align: center; font-family: "Arial Black", Gadget, sans-serif; padding-top: 6px; padding-left: 6px; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none;  }
#tracker [id^="smallhalfheader"] { width: 32px; height: 16px; color: #FFF; font-size: 9px; text-align: center; font-family: "Arial Black", Gadget, sans-serif; padding-top: 2px; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none;  }
#tracker .compass { width: 32px; height: 32px; display: none; }
#tracker [id$="skdiv"] { width: 64px; height: 32px; }
#tracker .withcompass .compass { display: block; }
#tracker .withcompass [id^="smallkey"] { width: 32px; text-align: right; padding-top: 8px; padding-left: 4px; padding-right: 2px; float: left; background-image: url(../images/dungeons/smallkeyhalf.png); }

#tracker .item.half { width: 32px; height: 32px; position: absolute; }
#tracker .tunic { width: 128px; height: 128px; }
#tracker .sword { position: absolute; top: 0; right: 0; height: 48px; width: 48px; }
#tracker .crystalgoal { position: absolute; top: 0; left: 0; height: 24px; width: 24px; }
#tracker .ganongoal { position: absolute; top: 24; left: 0; height: 24px; width: 24px; }
#tracker .shield { position: absolute; bottom: 0; left: 0; height: 40px; width: 40px; }
#tracker .moonpearl {
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#tracker .item,
#tracker .boss { opacity: .25; }
#tracker .item[class*="active"],
#tracker .boss.defeated { opacity: 1; }
#tracker .bigkey { opacity: .25; }
#tracker .bigkeyhalf { opacity: .25; position: absolute; right: 0; height: 16px; width: 16px; background-image: url(../images/dungeons/bigkey.png); background-size:100%; }
#tracker .collected { opacity: 1; }
#tracker .tunic { height: 96px; width: 96px; background-size:100%; }
#tracker .moonpearl { height: 40px; width: 40px; background-size:100%; }
#tracker .sphere { height: 37px; width: 37px; background-size:100%; }
#bigkeyhalf0 { top: 11px; }
#bigkeyhalf1 { top: 59px; }

[class*="prize-"] {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
}
[class*="enemizer-"] {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
}
#tracker [class*="medallion-"] {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
}

#tracker [class*="bombfloor-"] {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
  background-size: 100% 100%;
}

.mirrorscroll {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-size: 100% 100%;
}

#map {
  width: 884px;
  height: 448px;
  margin-left: 8px;
  background-image: url(../images/overlay/map.png);
  background-size: 100% 100%;
}

.location {
  border-color:#000;
  border-style: solid;
  border-width: 1px;
  width: 16;
  height: 16;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  background-size: 100% 100%;
}

.lowerchest {
  width: 64px;
  height: 64px;
  float: left;
}

#map .boss {
  border-color:#000;
  border-style: solid;
  border-width: 1px;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 90%;
  z-index: 2;
}

#bossMapAgahnim { background-color: transparent; }
.castle {
  border-color:#000;
  border-style: solid;
  border-width: 2.5px;
  width: 34px;
  height: 34px;
  margin-left: -17px;
  margin-top: -17px;
  position: absolute;
  background-size: 100% 100%;
}

.dungeon {
  border-color:#000;
  border-style: solid;
  border-width: 2px;
  width: 34px;
  height: 34px;
  margin-left: -17px;
  margin-top: -17px;
  position: absolute;
  background-size: 100% 100%;
}

.chest.highlight,
.castle.highlight,
.location.highlight,
.dungeon.highlight { background-image: url(../images/overlay/highlighted.png); }
.chest.large { width: 64px !important; height: 64px !important; background-size: 100%; font-size: 34px !important; padding-top: 8px !important; background-image: url(../images/dungeons/keychestlarge.png); }
.chest-0.large { width: 64px !important; height: 64px !important; background-size: 100%; font-size: 34px !important; padding-top: 8px !important; background-image: url(../images/dungeons/keychestlarge0.png); }
.location.rightclick,
.dungeon.rightclick { background-image: url(../images/overlay/highlighted2.png); }
.hidden { width: 0px!important; height: 0px!important; }

#caption {
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: white;
  background-color: black;
  font-size: 12px;
  text-align: center;
}

#autotrackingstatus {
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: white;
  font-size: 12px;
  text-align: right;
}

.icon {
  width: 16px !important;
  height: 16px !important;
  display: inline-block;
  background-size: 100% 100% !important;
  vertical-align: text-bottom;
}

.spheresword.active-1 { background-image: url(../images/items/sword1.png); }
.spheresword.active-2 { background-image: url(../images/items/sword2.png); }
.spheresword.active-3 { background-image: url(../images/items/sword3.png); }
.spheresword.active-4 { background-image: url(../images/items/sword4.png); }
.sphereshield.active-1 { background-image: url(../images/items/shield1.png); }
.sphereshield.active-2 { background-image: url(../images/items/shield2.png); }
.sphereshield.active-3 { background-image: url(../images/items/shield3.png); }
.spheremoonpearl { background-image: url(../images/items/moonpearl.png); }

.sword.active-0 { background-image: url(../images/items/sword1.png); opacity: .25; background-size:100%; float:left; }
.sword.active-1 { background-image: url(../images/items/sword1.png); background-size:100%; }
.sword.active-2 { background-image: url(../images/items/sword2.png); background-size:100%; }
.sword.active-3 { background-image: url(../images/items/sword3.png); background-size:100%; }
.sword.active-4 { background-image: url(../images/items/sword4.png); background-size:100%; }
.shield.active-0 { background-image: url(../images/items/shield1.png); opacity: .25; background-size:100%; float:left; }
.shield.active-1 { background-image: url(../images/items/shield1.png); background-size:100%; float:left; }
.shield.active-2 { background-image: url(../images/items/shield2.png); background-size:100%; float:left; }
.shield.active-3 { background-image: url(../images/items/shield3.png); background-size:100%; float:left; }
.moonpearl { background-image: url(../images/items/moonpearl.png); background-size:100%; }
.crystalgoal.crystals0 { background-image: url(../images/dungeons/crystal0.png); background-size:100%; }
.crystalgoal.crystals1 { background-image: url(../images/dungeons/crystal1.png); background-size:100%; }
.crystalgoal.crystals2 { background-image: url(../images/dungeons/crystal2.png); background-size:100%; }
.crystalgoal.crystals3 { background-image: url(../images/dungeons/crystal3.png); background-size:100%; }
.crystalgoal.crystals4 { background-image: url(../images/dungeons/crystal4.png); background-size:100%; }
.crystalgoal.crystals5 { background-image: url(../images/dungeons/crystal5.png); background-size:100%; }
.crystalgoal.crystals6 { background-image: url(../images/dungeons/crystal6.png); background-size:100%; }
.crystalgoal.crystals7 { background-image: url(../images/dungeons/crystal7.png); background-size:100%; }
.crystalgoal.crystals { background-image: url(../images/dungeons/crystal.png); background-size:100%; }
.crystalgoal.pendants { background-image: url(../images/dungeons/prize1.png); background-size:100%; }
.crystalgoal.other { visibility: collapse; }
.ganongoal.ganon0 { background-image: url(../images/dungeons/ganon0.png); background-size:100%; }
.ganongoal.ganon1 { background-image: url(../images/dungeons/ganon1.png); background-size:100%; }
.ganongoal.ganon2 { background-image: url(../images/dungeons/ganon2.png); background-size:100%; }
.ganongoal.ganon3 { background-image: url(../images/dungeons/ganon3.png); background-size:100%; }
.ganongoal.ganon4 { background-image: url(../images/dungeons/ganon4.png); background-size:100%; }
.ganongoal.ganon5 { background-image: url(../images/dungeons/ganon5.png); background-size:100%; }
.ganongoal.ganon6 { background-image: url(../images/dungeons/ganon6.png); background-size:100%; }
.ganongoal.ganon7 { background-image: url(../images/dungeons/ganon7.png); background-size:100%; }
.ganongoal.ganon { background-image: url(../images/dungeons/ganon.png); background-size:100%; }
.ganongoal.alldungeons { background-image: url(../images/dungeons/alldungeons.png); background-size:100%; }
.ganongoal.pendants { background-image: url(../images/dungeons/prize1.png); background-size:100%; }
.ganongoal.other { visibility: collapse; }
.crystalgoalselect { background-color: #333; width: 244px; height: 24px; z-index: 99; position: absolute; top: 0; left: 0; }
.ganongoalselect { background-color: #333; width: 244px; height: 24px; z-index: 99; position: absolute; top: 24; left: 0; }
.changeflags { width: 24px; height: 24px; z-index: 2; position: absolute; top: 48; left: 0; }
.goalselect { height: 24px; width: 24px; } 
.showpaths { width: 24px; height: 24px; z-index: 2; position: absolute; top: 72; left: 0; }

.bomb { background-image: url(../images/items/bomb.png); }
.bow { background-image: url(../images/items/bow0.png); }
.bow.active-1 { background-image: url(../images/items/bow1.png); }
.bow.active-2 { background-image: url(../images/items/bow2.png); }
.bow.active-3 { background-image: url(../images/items/bow3.png); }
.boomerang { background-image: url(../images/items/boomerang1.png); }
.boomerang.active-2 { background-image: url(../images/items/boomerang2.png); }
.boomerang.active-3 { background-image: url(../images/items/boomerang3.png); }
.hookshot { background-image: url(../images/items/hookshot.png); }
.mushroom { width: 32px; height: 32px; background-size: 32px; top: 0; left: 0; background-image: url(../images/items/mushroom.png); }
.powder { width: 32px; height: 32px; background-size: 32px; top: 32; left: 32; background-image: url(../images/items/powder.png); }
.firerod { background-image: url(../images/items/firerod.png); }
.icerod { background-image: url(../images/items/icerod.png); }
.bombos { background-image: url(../images/items/bombos.png); }
.ether { background-image: url(../images/items/ether.png); }
.quake { background-image: url(../images/items/quake.png); }
.lantern { background-image: url(../images/items/lantern.png); }
.hammer { background-image: url(../images/items/hammer.png); }
.shovel { width: 32px; height: 32px; background-size: 32px; top: 0; left: 0; background-image: url(../images/items/shovel.png); }
.net { background-image: url(../images/items/net.png); }
.book { background-image: url(../images/items/book.png); }
.bottle { background-image: url(../images/items/bottle0.png); }
.bottle.active-1 { background-image: url(../images/items/bottle1.png); }
.bottle.active-2 { background-image: url(../images/items/bottle2.png); }
.bottle.active-3 { background-image: url(../images/items/bottle3.png); }
.bottle.active-4 { background-image: url(../images/items/bottle4.png); }
.somaria { background-image: url(../images/items/somaria.png); }
.byrna { background-image: url(../images/items/byrna.png); }
.cape { background-image: url(../images/items/cape.png); }
.mirror { background-image: url(../images/items/mirror.png); }
.mirrorscroll { background-image: url(../images/dungeons/map.png); }
.boots { background-image: url(../images/items/boots.png); }
.glove { background-image: url(../images/items/glove1.png); }
.glove.active-2 { background-image: url(../images/items/glove2.png); }
.flippers { background-image: url(../images/items/flippers.png); }
.flute { width: 32px; height: 32px; background-size: 32px; top: 32; left: 32; background-image: url(../images/items/flute.png); }
.magic { background-image: url(../images/items/magic.png); }
.half.magic { width: 32px; height: 32px; background-size: 32px; top: 32px; left: 0; background-image: url(../images/items/magic.png); }
.agahnim, #bossMapAgahnim { width: 32px; height: 32px; background-size: 32px; top: 0; left: 0; background-image:url(../images/dungeons/agahnim0.png); }
.agahnim.active { width: 32px; height: 32px; background-size: 32px; top: 0; left: 0; background-image:url(../images/dungeons/agahnim1.png); }
.agahnim2 { width: 32px; height: 32px; background-size: 32px; top: 32; left: 32; background-image:url(../images/dungeons/agahnim20.png); }
.agahnim2.active { width: 32px; height: 32px; background-size: 32px; top: 32; left: 32; background-image:url(../images/dungeons/agahnim1.png); }
.boss0 { background-image: url(../images/dungeons/boss0.png); }
.boss1 { background-image: url(../images/dungeons/boss1.png); }
.boss2 { background-image: url(../images/dungeons/boss2.png); }
.boss3 { background-image: url(../images/dungeons/boss3.png); }
.boss4 { background-image: url(../images/dungeons/boss4.png); }
.boss5 { background-image: url(../images/dungeons/boss5.png); }
.boss6 { background-image: url(../images/dungeons/boss6.png); }
.boss7 { background-image: url(../images/dungeons/boss7.png); }
.boss8 { background-image: url(../images/dungeons/boss8.png); }
.boss9 { background-image: url(../images/dungeons/boss9.png); }
.boss10, #bossmap10 { background-image: url(../images/dungeons/boss10.png); }
#bossmap11 { background-image: url(../images/dungeons/ballnchain.png); }
#bossmap12 { background-image: url(../images/dungeons/agahnim0.png); }
.bossprize-0 { background-image: url(../images/dungeons/bossicon0.png); }
.bossprize-1 { background-image: url(../images/dungeons/bossicon1.png); }
.bossprize-2 { background-image: url(../images/dungeons/bossicon2.png); }
.bossprize-3 { background-image: url(../images/dungeons/bossicon3.png); }
.bossprize-4 { background-image: url(../images/dungeons/bossicon4.png); }
.bossprize-5 { background-image: url(../images/dungeons/bossicon5.png); }

.enemizer-0 { background-image: url(../images/dungeons/prize0.png); background-size: 32px; }
.enemizer-1 { background-image: url(../images/dungeons/boss0.png); background-size: 32px; }
.enemizer-2 { background-image: url(../images/dungeons/boss1.png); background-size: 32px; }
.enemizer-3 { background-image: url(../images/dungeons/boss2.png); background-size: 32px; }
.enemizer-4 { background-image: url(../images/dungeons/boss3.png); background-size: 32px; }
.enemizer-5 { background-image: url(../images/dungeons/boss4.png); background-size: 32px; }
.enemizer-6 { background-image: url(../images/dungeons/boss5.png); background-size: 32px; }
.enemizer-7 { background-image: url(../images/dungeons/boss6.png); background-size: 32px; }
.enemizer-8 { background-image: url(../images/dungeons/boss7.png); background-size: 32px; }
.enemizer-9 { background-image: url(../images/dungeons/boss8.png); background-size: 32px; }
.enemizer-10 { background-image: url(../images/dungeons/boss9.png); background-size: 32px; }
.enemizer-11 { background-image: url(../images/dungeons/compass.png); background-size: 32px; }
.prize-0 { background-image: url(../images/dungeons/prize0.png); }
.prize-1 { background-image: url(../images/dungeons/prize1.png); }
.prize-2 { background-image: url(../images/dungeons/prize2.png); }
.prize-3 { background-image: url(../images/dungeons/prize3.png); }
.prize-4 { background-image: url(../images/dungeons/prize4.png); }
.prize-5 { background-image: url(../images/dungeons/prize5.png); }
.medallion-0 { background-image: url(../images/dungeons/medallion0.png); }
.medallion-1 { background-image: url(../images/dungeons/medallion1.png); }
.medallion-2 { background-image: url(../images/dungeons/medallion2.png); }
.medallion-3 { background-image: url(../images/dungeons/medallion3.png); }
.chest-0 { background-image: url(../images/dungeons/keychest0.png); }
.chest { background-image: url(../images/dungeons/keychest.png); }
.bigkey { background-image: url(../images/dungeons/bigkey.png); }
.smallkeyfull { background-image: url(../images/dungeons/smallkeyfull.png); }
.smallkeyhalf { background-image: url(../images/dungeons/smallkeyhalf.png); }
.compass { background-image: url(../images/dungeons/compass.png); }
.bombfloor-0 { background-image: url(../images/dungeons/bombablefloor0.png); }
.bombfloor-1 { background-image: url(../images/dungeons/bombablefloor1.png); }

.bombsmall { background-image: url(../images/overlay/bomb.png); }
.crystal { background-image: url(../images/dungeons/prize4.png); }
.pendant-0 { background-image: url(../images/overlay/pendant0.png); }
.pendant-1 { background-image: url(../images/overlay/pendant1.png); }
.pendant-2 { background-image: url(../images/overlay/pendant2.png); }

.noitem { background-image: url(../images/dungeons/prize0.png); opacity: .25; }

.dropdown-toggle, .dropdown-menu { width: 300px }
.btn-group img { margin-right: 10px }
.dropdown-toggle { padding-right: 50px }
.dropdown-toggle .glyphicon { margin-left: 20px; margin-right: -40px }
.dropdown-menu>li>a:hover { background: #f1f9fd } /* $search-blue */
.dropdown-header { background: #ccc; font-size: 14px; font-weight: 700; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 5px }

.tab { padding: 4px; border: 2px solid white; color: blue; user-select: none; cursor: pointer; }
.tab.active { border-color: black; color: black; background-color: #E0E0E0; cursor: default; }

#bossMap0, #dungeon0 { left: 47.4%; top: 38.8%; }
#bossMap1, #dungeon1 { left: 3.8%;  top: 78.4%; }
#bossMap2, #dungeon2 { left: 28.4%; top: 4.0%; }
#bossMap3, #dungeon3 { left: 97.9%; top: 40.0%; }
#bossMap4, #dungeon4 { left: 73.5%; top: 92%; }
#bossMap5, #dungeon5 { left: 52.9%; top: 5.0%; }
#bossMap6, #dungeon6 { left: 56.4%; top: 46.9%; }
#bossMap7, #dungeon7 { left: 89.9%; top: 86.8%; }
#bossMap8, #dungeon8 { left: 55.0%; top: 82.9%; }
#bossMap9, #dungeon9 { left: 96.9%; top: 7.0%; }
#bossMap10, #dungeon10 { left: 79.0%; top: 5.5%; }
#bossMap11, #dungeon11 { left: 25.0%; top: 37.5%; }
#bossMapAgahnim, #castle, #bossMap12, #dungeon12 { left: 25.0%; top: 52.6%; }

#locationMap0 { left: 30.8%; top: 29.6%; } /* King's Tomb */
#locationMap1 { left: 23.4%; top: 93.4%; } /* Dam (2) */
#locationMap2 { left: 27.4%; top: 67.9%; } /* Link's House */
#locationMap3 { left: 39.8%; top: 9.5%; } /* Spiral Cave */
#locationMap4 { left: 42.0%; top: 9.5%; } /* Mimic Cave */
#locationMap5 { left: 8.1%;  top: 57.8%; } /* Tavern */
#locationMap6 { left: 5.2%;  top: 53.7%; } /* Chicken House */
#locationMap7 { left: 55.4%; top: 58.0%; } /* Bombable Hut */
#locationMap8 { left: 60.5%; top: 47.9%; } /* C-House */
#locationMap9 { left: 10.0%; top: 82.9%; } /* Aginah's Cave */
#locationMap10 { left: 52.0%; top: 79.5%; } /* Mire Shed (2) */
#locationMap11 { left: 91.0%; top: 14.7%; } /* Super Bunny Cave */
#locationMap12 { left: 40.7%; top: 42.2%; } /* Sahasrahla's Hut */
#locationMap13 { left: 78.6%; top: 15.0%; } /* Spike Cave */
#locationMap14 { left: 1.7%;  top: 42.0%; } /* Kakariko Well */
#locationMap15 { left: 6.7%;  top: 41.5%; } /* Thieves' Hut */
#locationMap16 { left: 79.8%; top: 77.3%; } /* Hype Cave */
#locationMap17 { left: 43.0%; top: 21.2%; } /* Paradox Cave */
#locationMap18 { left: 19.3%; top: 29.3%; } /* Bonk Rocks */
#locationMap19 { left: 32.7%; top: 93.9%; } /* Mini Moldorm Cave */
#locationMap20 { left: 44.6%; top: 76.9%; } /* Ice Rod Cave */
#locationMap21 { left: 91.6%; top: 7.1%; } /* Hookshot Cave (1) */
#locationMap22 { left: 91.6%; top: 3.4%; } /* Hookshot Cave (3) */
#locationMap23 { left: 8.2%; top: 15%; } /* Lost Woods Hideout Tree */
#locationMap24 { left: 42.1%; top: 6.7%; } /* Death Mountain Bonk Rocks */
#locationMap25 { left: 15.5%; top: 14.5%; } /* Mountain Entry Pull Tree */
#locationMap26 { left: 17.7%; top: 23%; } /* Mountain Entry Southeast Tree */
#locationMap27 { left: 1.6%; top: 30%; } /* Lost Woods Pass West Tree */
#locationMap28 { left: 4.9%; top: 31%; } /* Kakariko Portal Tree */
#locationMap29 { left: 8.2%; top: 31.7%; } /* Fortune Bonk Rocks */
#locationMap30 { left: 17%; top: 29.1%; } /* Kakariko Pond Tree */
#locationMap31 { left: 20.6%; top: 31.2%; } /* Bonk Rocks Tree */
#locationMap32 { left: 24.1%; top: 30.2%; } /* Sanctuary Tree */
#locationMap33 { left: 32.4%; top: 35.5%; } /* River Bend West Tree */
#locationMap34 { left: 36.9%; top: 31.4%; } /* River Bend East Tree */
#locationMap35 { left: 4.9%; top: 41.9%; } /* Blinds Hideout Tree */
#locationMap36 { left: 11%; top: 58.2%; } /* Kakariko Welcome Tree */
#locationMap37 { left: 14.6%; top: 47.4%; } /* Forgotten Forest Southwest Tree */
#locationMap38 { left: 15.6%; top: 44.6%; } /* Forgotten Forest Central Tree */
#locationMap39 { left: 23.4%; top: 46%; } /* Hyrule Castle Tree */
#locationMap40 { left: 33.5%; top: 40.5%; } /* Wooden Bridge Tree */
#locationMap41 { left: 44.6%; top: 59.5%; } /* Eastern Palace Tree */
#locationMap42 { left: 15.7%; top: 72.4%; } /* Flute Boy South Tree */
#locationMap43 { left: 17.2%; top: 70.6%; } /* Flute Boy East Tree */
#locationMap44 { left: 23.4%; top: 68.1%; } /* Central Bonk Rocks Tree */
#locationMap45 { left: 40.4%; top: 66.4%; } /* Tree Line Tree 2 */
#locationMap46 { left: 42.6%; top: 67.4%; } /* Tree Line Tree 4 */
#locationMap47 { left: 17.8%; top: 82.8%; } /* Flute Boy Approach South Tree */
#locationMap48 { left: 18%; top: 78.9%; } /* Flute Boy Approach North Tree */
#locationMap49 { left: 64.2%; top: 9%; } /* Dark Lumberjack Tree */
#locationMap50 { left: 58.2%; top: 31.8%; } /* Dark Fortune Bonk Rocks (2) */
#locationMap51 { left: 75.4%; top: 30%; } /* Dark Graveyard West Bonk Rocks */
#locationMap52 { left: 77.9%; top: 32%; } /* Dark Graveyard North Bonk Rocks */
#locationMap53 { left: 80.5%; top: 30%; } /* Dark Graveyard Tomb Bonk Rocks */
#locationMap54 { left: 83.5%; top: 35.7%; } /* Qirn Jump West Tree */
#locationMap55 { left: 86.9%; top: 31.5%; } /* Qirn Jump East Tree */
#locationMap56 { left: 88.7%; top: 30.9%; } /* Dark Witch Tree */
#locationMap57 { left: 73.7%; top: 54.5%; } /* Pyramid Area */
#locationMap58 { left: 97.3%; top: 56.5%; } /* Palace of Darkness Area */
#locationMap59 { left: 89.9%; top: 66.2%; } /* Dark Tree Line Tree 2 */
#locationMap60 { left: 91.3%; top: 66.9%; } /* Dark Tree Line Tree 3 */
#locationMap61 { left: 92.7%; top: 67.5%; } /* Dark Tree Line Tree 4 */
#locationMap62 { left: 77.9%; top: 83.5%; } /* Hype Cave Area */
#locationMap63 { left: 46.5%; top: 77.5%; } /* Cold Fairy Statue */
#locationMap64 { left: 52.5%; top: 46.4%; } /* Chest Game */
#locationMap65 { left: 4.5%;  top: 47.3%; } /* Bottle Vendor */
#locationMap66 { left: 40.7%; top: 46.0%; } /* Sahasrahla */
#locationMap67 { left: 65.5%; top: 68.6%; } /* Stumpy */
#locationMap68 { left: 7.9%;  top: 53.2%; } /* Lazy Kid */
#locationMap69 { left: 65.2%; top: 52.2%; } /* Purple Chest */
#locationMap70 { left: 35.4%; top: 69.7%; } /* Hobo */
#locationMap71 { left: 21.0%; top: 3.0%; } /* Ether Tablet */
#locationMap72 { left: 11.0%; top: 92.2%; } /* Bombos Tablet */
#locationMap73 { left: 95.2%; top: 17.2%; } /* Catfish */
#locationMap74 { left: 48.0%; top: 13.2%; } /* King Zora */
#locationMap75 { left: 20.2%; top: 19.2%; } /* Lost Old Man */
#locationMap76 { left: 41.0%; top: 33.5%; } /* Potion Shop */
#locationMap77 { left: 9.7%;  top: 13.0%; } /* Lost Woods Hideout */
#locationMap78 { left: 15.1%; top: 7.6%; } /* Lumberjack Tree */
#locationMap79 { left: 24.5%; top: 14.4%; } /* Spectacle Rock Cave */
#locationMap80 { left: 13.5%; top: 82.5%; } /* Cave 45 */
#locationMap81 { left: 28.3%; top: 25.8%; } /* Graveyard Ledge */
#locationMap82 { left: 8.7%;  top: 77.6%; } /* Checkerboard Cave */
#locationMap83 { left: 65.8%; top: 59.1%; } /* Hammerpegs */
#locationMap84 { left: 7.7%;  top: 65.9%; } /* Library */
#locationMap85 { left: 6.2%;  top: 8.6%; } /* Mushroom */
#locationMap86 { left: 25.4%; top: 8.5%; } /* Spectacle Rock */
#locationMap87 { left: 40.2%; top: 2.4%; } /* Floating Island */
#locationMap88 { left: 1.6%;  top: 69.5%; } /* Race Minigame */
#locationMap89 { left: 1.6%;  top: 91.0%; } /* Desert Ledge */
#locationMap90 { left: 36.1%; top: 82.9%; } /* Lake Hylia Island */
#locationMap91 { left: 67.1%; top: 15.2%; } /* Bumper Cave */
#locationMap92 { left: 79.0%; top: 43.5%; } /* Pyramid */
#locationMap93 { left: 52.9%; top: 69.2%; } /* Dig Game */
#locationMap94 { left: 47.7%; top: 17.1%; } /* Zora's Ledge */
#locationMap95 { left: 14.4%; top: 66.2%; } /* Flute Spot */
#locationMap96 { left: 26.3%; top: 30.8%; } /* Sewers */
#locationMap97 { left: 29.8%; top: 41.8%; } /* Uncle & Secret Passage */
#locationMap98 { left: 25.0%; top: 44.4%; } /* Hyrule Castle */
#locationMap99 { left: 22.9%; top: 26.2%; } /* Sanctuary */
#locationMap100 { left: 17.2%; top: 55.0%; } /* Magic Bat */
#locationMap101 { left: 15.2%; top: 51.8%; } /* Blacksmith */
#locationMap102 { left: 73.5%; top: 48.5%; } /* Pyramid Fairy */
#locationMap103 { left: 2.0%;  top: 3.0%; } /* Pedestal */
#locationMap104 { left: 25.0%; top: 36.5%; } /* Dark Cross */
#locationMap105 { left: 45.2%; top: 15.2%; } /* Waterfall Fairy */
#locationMap106 { left: 21.0%; top: 52.6%; } /* Castle Tower - Room 03 */
#locationMap107 { left: 29.0%; top: 52.6%; } /* Castle Tower - Room Dark Maze */
#locationMap108 { left: 37.0%; top: 76.0%; } /* Lake Hylia Shop (3) */
#locationMap109 { left: 5.5%; top: 58.7%; } /* Kakariko Shop (3) */
#locationMap110 { left: 42.5%; top: 14.8%; } /* Paradox Shop (3) */
#locationMap111 { left: 82.5%; top: 79.5%; } /* Dark Lake Hylia Shop (3) */
#locationMap112 { left: 60.3%; top: 53.0%; } /* Village of Outcasts Shop (3) */
#locationMap113 { left: 93.0%; top: 14.7%; } /* Dark Death Mountain Shop (3) */
#locationMap114 { left: 90.2%; top: 32.8%; } /* Dark Potion Shop (3) */
#locationMap115 { left: 66.8%; top: 5.3%; } /* Dark Lumberjack Shop (3) */
#locationMap116 { left: 66.6%; top: 44.5%; } /* Curiosity Shop (3) */
#locationMap117 { left: 41.0%; top: 29.7%; } /* Potion Shop (3) */
#locationMap118 { left: 39.7%; top: 84.7%; } /* Pond of Happiness Shop (3) */
#locationMap119 { left: 77.4%; top: 67.9%; } /* Bomb Shop (2) */

.instructionsDiv {
    width: 1200px;
    color: white;
    font-size: 20px;
    float: left;
    display: block;
    background: #55555561;
    padding: 30px;
    border: #0f0;
    border-width: 2px;
    border-style: solid;	
}

.releaseDiv {
    width: 1200px;
    color: white;
    font-size: 20px;
    float: left;
    display: block;
    background: #55555561;
    padding: 30px;
    border: #0f0;
    border-width: 2px;
    border-style: solid;
	margin-bottom: 30px;
}

.grabbagtr {
    border: 1px solid black;
    cursor: pointer;
    width: 140px;
    height: 24px;
    padding: 5px;
}

.restreamingoverlay {
	z-index: 10;
    position: absolute;
}
